html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}


@keyframes slideUp{
    0% { 
        transform: translateY(50px);
        opacity: 0;
       }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero p, .info, .plan, .hero a, #contacto{
    animation: slideUp 1s ease-out;
}

@keyframes fadeInOut{
    0% {
    opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero h1{
    animation: fadeInOut 1s infinite;
}

@keyframes rightSlide{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mk-imag .image{
    animation: rightSlide 2s ease;
}

.footer_list li, .lis-ul li{
    position: relative;
    padding: 0;
}

.lis-ul li a::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 85%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.7s ease;
}

.lis-ul li a:hover::after{
    transform: scale(1);
    animation: backcol 0.9s forwards;
}

@keyframes backcol {
    0% {
        opacity: 0;
    }

    100% {
        background-color: rgb(219, 202, 202);
        opacity: 1;
    }
}

.footer_list li a::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.7s ease;
}

.footer_list li a:hover::after{
    transform: scale(1);
    animation: backcol 0.9s forwards;
}