*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: arial black;

}
header{
background-color: rgb(134, 138, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    position: fixed;
    width: 100%;
}

.navbar, .ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.navbar{
    gap: 150px;
}

.ul{
    gap: 10px;
}

.ul a{
    color: gray;
    font-size: 14px;

}

.ul .list-a{
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.Logo{
    height: 150%;
    margin-top: center;
    border-radius: 100px;
}

.inset{
    box-shadow: inset 5px 10px 30px 20px #444466;
}
main{
    background-color: #292933;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sect{
    margin-top: 242px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}