:root {
    --background: rgb(134, 138, 180);
    --backgrondSec: #292e49;
    --bg-text-one: rgb(0, 0, 0); 
    --grad-white: rgba(233, 209, 209, 0.911);
    --grad-red: rgba(170, 20, 20, 0.938);
    --fond-caja: rgb(99, 103, 148);
    --box-shadow: 8px 8px 8px rgba(8, 8, 8, 0.699);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Calibri', sans-serif;
}
/* CON ESTO HAGO QUE EL FONDO OCUPE TODO VIEWPORT*/
html, body {
    overflow-x: hidden;
}

header {
    background: linear-gradient(to top, var(--background), var(--backgrondSec));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* OCULTO EL INPUT TOGGLE */
#menu-toggle {
    display: none;
}
/* OCULTO EL ICONO DEL MENU HAMBURUESA*/
.menu-icon {
    display: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lis-ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.lis-ul a {
    font-size: 20px;
    margin-right: 20px;
}

.lis-ul .list-a {
    font-weight: 1000;
    font-size: 22px;
    color: var(--bg-text-one);
}

.Logo {
    height: 150%;
    border-radius: 100px;
}

main {
    background: linear-gradient(to bottom, var(--background), var(--backgrondSec));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#sect {
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 60%;
    
}

@keyframes fadeIn{
    0% {
    opacity: 0;
    }
    100% {
     opacity: 1;
    }
}

.hero h1 {
    font-size: 75px;
    font-weight: 600;
    width: 80%;
    min-width: 500px;
    opacity: 0;
    background: linear-gradient(to bottom ,var(--grad-red), var(--grad-white));
    color: transparent;
    background-clip: text;
    animation: fadeIn 2s ease forwards;
}

.hero p {
    font-size: 20px;
    width: 75%;
    background-color: var(--background);
    padding: 10px;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
}

.mk-imag {
    padding: 20px;
}

.mk-imag .image {
    width: 400px;
    padding: 5px;
    display: flex;
    background-color: var(--backgrondSec);
    border-radius: 100px;
    box-shadow: var(--box-shadow);

}

.hero a {
    background-color: var(--grad-red);
    color: aliceblue;
    padding: 10px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    border-radius: 15px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    padding: 5px;
    text-align: center;
}

.info h2 {
    padding: 16px;
    color: var(--grad-white);
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
}

.info p {
    font-size: 20px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.info span {
    font-weight: 1000;
    background: linear-gradient(to bottom ,var(--grad-red), rgb(161, 100, 100));
    color: transparent;
    background-clip: text;
}

/*============ Servicios============*/
section{
    justify-content: center;
    align-items: center;
}
.pack__cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin:10px;
    padding: 10px;
}

.plan{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    box-shadow: var(--box-shadow);
}

.pack__cards img{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-5px -5px 10px rgb(85, 20, 20));
    height: 70px;
    width: 70px;
    border-radius: 10px;
    
}

.plan-info h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
    border-radius: 20px;
}

.list-basic{
    justify-content: center;
    align-items: center;
    
    padding: 2px;
}

.list-basic p{
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}

.list-basic span{
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
}



.price-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

.text-price{
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    text-decoration:underline;
}

.price-value{
    font-weight: bold;
    font-size: 25px;
    color: var(--grad-white);
    text-shadow: 6px 6px 6px black;
}


.btn{
    text-align: center;
    padding: 20px;
}
.btn-add{
    background-color: var(--grad-red);
    color: aliceblue;
    padding: 10px;
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border-radius: 15px;
}


#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    filter: drop-shadow(5px 5px 5px black);
    text-shadow: 1px 1px 1px white;

}

.red-social ol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
}

.red-social ol img{
    display: flex;
    height: 100px;
    width: 100px;
    gap: 20px;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 5px black); 
}

#redes-toggle{
    display: none;
}

.redes-icon img {
    display: none;
    cursor: pointer;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info h2{
    margin: 10px;
    font-weight: 700;
    font-size: 50px;
    text-decoration:underline;
    
    
}

.contact-info h3{
    margin: 10px;
    font-weight: 600;
    font-size: 50px;
    font-family: Impact, sans-serif;
    
}

.datos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.datos{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2rem;
    gap: 20px;
}

.contac-image img{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    padding: 3px;
    background-color: var(--backgrondSec);
  
}


/*=============FOOTER===========*/

#footer{
    width: 100%;
    padding: 20px;
}

.footer_info{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 5px;
}

.footer_info img{
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 80px;
}

.footer_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    font-size: 20px;
    gap: 20px;
}

.footer_list li a{
    font-weight: 600;
    color: var(--grad-white);
}

.footer_info p span{
    background: linear-gradient(to bottom ,var(--grad-red), rgb(161, 100, 100));
    color: transparent;
    background-clip: text;
    font-size: 20px;
    font-weight: 800;
}





